
.page4 {
    height: 25pc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E5E7EB;
}

.quote {
    padding: 8px;
    width: 50pc;
}
.quote1 {
    color: rgb(80, 78, 78);
    font-size: 28px;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.quote2{
    color: rgb(43, 40, 40);
    font-size: 23px;
    text-align: right;
}